{% extends "layout.twig" %}

{% block title %}About Hotspot Map{% endblock title %}

{% block css %}{% endblock css %}


{% block js %}{% endblock js %}





{% block content %}
<h4>About our work</h4>
This website has been developped for an ISIMA ZZ3 PHP student practical.<br><br>
Here are some of the things we did :<br>
<ul>
  <li><strong>used Vagrant</strong> to have a reproductible environment ;</li>
  <li><strong>used Composer</strong> to install our packages (PHPUnit, Twig ...) ;</li>
  <li><strong>implemented a Front Controller</strong> to intercept every request and thus get a single entry point ;</li>
  <li><strong>used Twig</strong> as our template engine ;</li>
  <li><strong>used Google Maps API</strong> to display a map with the different locations ;</li>
  <li><strong>used Disqus Single Sign-On</strong> to allow the user to sign-in to both our website and Disqus in one step ;</li>
  <li><strong>used MySql</strong> to store the data ;</li>
  <li><strong>used PhpMyAdmin</strong> to manage the database ;</li>
  <li><strong>used AJAX</strong> to offer a better user experience. He can display/add/remove places dynamically ;</li>
  <li><strong>used Disqus</strong> to allow the user to post comments on our website ;</li>
  <li><strong>used HTML5 Geolocation</strong> to estimate the user's geographic position ;</li>
  <li><strong>used lots of Javascript</strong> to implement the actions around the Google Map, the sliders of the UI ... ;</li>
  <li><strong>used git</strong> to commit our work throughout the entire project ;</li>
  <li><strong>etc.</strong></li>
</ul>
<br>

{% endblock content %}


{% block footer %}{% endblock footer %}