{% extends "layout.twig" %}

{% block title %}Hotspot Map{% endblock title %}

{% block css %}
  <!-- CSS specific to this page -->
  <link rel="stylesheet" type="text/css" href="/view/css/css-star-rater.css" /> <!-- Star rating system (css-star-rater) used in the infowindow -->
  <link rel="stylesheet" type="text/css" href="/view/css/jslider.css" /> <!-- jSlider used in the infowindow -->
{% endblock css %}


{% block js %}
  <!-- javascript -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <!-- jSlider js files (jSlider is used in the infowindw) -->
  <script type="text/javascript" src="/view/js/jSlider/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/jshashtable-2.1_src.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/jquery.numberformatter-1.2.3.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/tmpl.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/jquery.dependClass-0.1.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/draggable-0.1.js"></script>
  <script type="text/javascript" src="/view/js/jSlider/jquery.slider.js"></script>
  <!-- end jSlider -->
  <!-- end javascript -->
  <script src="/view/js/form.js"></script>
  <script src="/view/js/searchFunctions.js"></script>
  <script src="/view/js/ggMapsFunctions.js"></script> 
  <script src="/view/js/disqusFunctions.js"></script>

  <script type="text/javascript">
    var currentMarkers = [   
      {{ markersJavascriptString|raw }}
    ];      

    $(document).ready(init);
    function init() {
      $.ggMapsFunctions.initialize();
    }
  </script>
{% endblock js %}





{% block content %}
<div class="row marketing">
        <div class="col-lg-6">
          <h4>Search for locations next to you!</h4>
          <p>By using our search tool below the map, you can easily find locations next to you.</p>

          <h4>Tell everyone what you think about a location!</h4>
          <p>Our website allows to post comments by using Disqus.</p>

          <h4>Add new locations!</h4>
          <p>Once you're logged-in HotspotMap, you can add new locations by right clicking the map.</p>
        </div>

        <div class="col-lg-6">
          <h4>Join the community to add new locations!</h4>
          <p>Thanks to Disqus SSO, there's no need to create an account specifically for HotspotMap. You can log-in directly with your Facebook, Google, Twitter accounts.</p>

          <h4>Time is money!</h4>
          <p>Login in both Disqus & HotspotMap at once. Thanks to Disqus SSO, we offer you to save time. On HotspotMap you won't waste your time by login two times (one time for our website and an other time Disqus).</p>

          <h4>It's free!</h4>
          <p>Everything is free here.</p>
        </div>
      </div>


      <!-- Google Map -->
      <div id="map-canvas"></div>


      <!-- Search Feature -->
      <div id="search-location">
        Search a location near me: 
        <input type="text" id="search-locationName" placeholder="location's name" />
        <input type="text" id="search-maxDistance"  placeholder="max. radius in km" id="maxDist" value="100000" />
        <input type="button" value="Search" id="search-button" />

        <div id='user-location'></div><br>

        <div id="search-location-results">
        </div>
      </div>
      <br>


      <!-- DISQUS AJAX -->
      <div id="disqus_thread"></div>


      <script type="text/javascript">
        var disqus_config = function () {
          // The generated payload which authenticates users with Disqus
          this.page.remote_auth_s3 = '<message> <hmac> <timestamp>';
          this.page.api_key = 'CFdwBHTkz28s3951gIuQXWsY0cXyg2n8EsJZh6Utx3DYeGEt5U3mXUqaC9kIxhut';

          // This adds the custom login/logout functionality
          this.sso = {
            name:    "HotspotMap login",
            button:  "http://localhost/images/samplenews.gif",
            icon:    "http://localhost/favicon.png",
            url:     "http://localhost/controller/login.php",
            logout:  "http://example.com/logout/",
            width:   "800",
            height:  "400"
          };
        };

        var disqus_shortname = 'hotspotmap'; // required: replace example with your forum shortname
        var disqus_identifier = '1';
        var disqus_url = "http://localhost/home.php";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock content %}


{% block footer %}
  <script type="text/javascript">
    // Adds a text displaying the user location and adds the click listener on the search button
    $.searchFunctions.initialize();
  </script>
{% endblock footer %}