{% extends "layout.twig" %}

{% block title %}Contact Hotspot Map{% endblock title %}

{% block css %}{% endblock css %}


{% block js %}{% endblock js %}


{% block advert %}{% endblock advert %}

{% block content %}


<h4>Questions ?</h4>
If you are interested in contacting us, here are our email addresses :<br>
<center>
<h3><a href="mailto:gpalex07@gmail.com">gpalex07@gmail.com</a></h3>
<h3><a href="mailto:ulsoneza@gmail.com">ulsoneza@gmail.com</a></h3>
</center>
<br>

{% endblock content %}


{% block footer %}{% endblock footer %}