<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>You're logged in!</title>

    <!-- Bootstrap core CSS -->
    <link href="../view/bootstrap_dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body><br>
    <div class="container">
      <center>You have successfully been logged-in!<br>
        <script>close();</script>
        <a href="javascript:close();">close this window</a>
      </center>
    </div> <!-- /container -->
  </body>
</html>
