<div id='infoWindowDiv'>
    <table id="timetable">
      <tr>
         <strong>An error has occured :</strong><br>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
         {{ error }}
      </tr>
   </table>
</div>