{% extends "layout.twig" %}

{% block title %}404 Not Found - Hotspot Map{% endblock title %}

{% block css %}{% endblock css %}


{% block js %}{% endblock js %}


{% block advert %}{% endblock advert %}


{% block content %}


<h4>404 Not Found</h4>
The page you're looking for could not be found.
<br>
<img src='/view/img/nyan.gif' />
<br>
<br>

{% endblock content %}


{% block footer %}{% endblock footer %}